html {
  background-color: #3B181E;
}

body {
  margin: 0 auto;
  max-width: 1920px;

  font-family: 'Forum', cursive;
  font-size: 10px;
  line-height: 15px;
  color: $font-color;

  background-color: $page-color;
}