.main-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
  padding-top: 50px;
  width: 100%;
  min-height: 100vh;

  background-color: $page-color;

  @media (min-width: 768px) {
    padding-top: 120px;
  }

  @media (min-width: 1920px) {
    padding-top: 200px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
  }

  &__item {
    margin: 0 auto 60px auto;

    list-style: none;
    text-align: center;
  }

  &__link {
    display: block;
    width: 150px;

    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);

    transition: 0.3s ease;

    &:hover {
      width: 250px;

      font-size: 25px;
      line-height: 28px;
      color: $font-color;

      @media (min-width: 768px) {
        width: 450px;

        font-size: 45px;
        line-height: 50px;
      }
    }

    @media (min-width: 768px) {
      width: 350px;

      font-size: 30px;
      line-height: 33px;
    }

    @media (min-width: 1366px) {
      font-size: 35px;
      line-height: 39px;
    }
  }

  &--active {
    display: block;
  }
}