.footer {
    padding:0 17px 30px 15px;
    
    @media (min-width:768px) {
      padding:0 21px 40px 21px;
    }
    & > hr {
      display: inline-block;
      width: 100%;
      margin-bottom: 15px;

      border: 1px solid rgba(255, 255, 255, 0.2);

      @media (min-width:768px) {
        margin-bottom: 26px;
      }
    }
    &__menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 46px;
      padding-left: 0px;
    }
    &__menu-item {
      margin-bottom: 11px;
      
      list-style: none;

      @media (min-width:768px) {
        margin-bottom: 20px;
      }
      &:last-of-type {
        margin-bottom: 0px;
      }
      & a {
        font-size: 16px;
        line-height: 18px;
        color:rgba(255, 255, 255, 0.5);

        text-decoration: none;

        @media (min-width:768px) {
        font-size: 20px;
        line-height: 22px;
        }
      }
    }
    &__social-list {
      display: flex;
      justify-content:center;
      margin-left: 12px;
    }
    &__social-link {
      list-style: none;
      & a {
        width: 25px;
        height: 25px;
        margin-right: 50px;
      }
    }
  }