.header {
  position: relative;
  z-index: 50;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 20px 30px;
  width: 100%;
  max-width: 1920px;

  @media (min-width: 768px) {
    position: absolute;

    padding: 38px 50px 0 50px;
  }

  @media (min-width: 1366px) {
    padding: 38px 30px 0 50px;
  }

  @media (min-width: 1920px) {
    padding: 87px 99px 0 96px;
  }

  &__logo {
    z-index: 50;
  }

  &__menu-burger {
    position: relative;
    z-index: 50;

    padding: 0;
    width: 37px;

    font-size: 0px;

    background-color: transparent;
    border: none;

    @media (min-width: 768px) {
      padding: 0;
    }

    @media (min-width: 1366px) {
      padding-left: 30px;
      width: auto;

      font-size: 20px;
      line-height: 22px;
      color: $font-color;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }

    &::before,
    &::after {
      content: "";
      display: block;
      width: 37px;
      height: 1px;

      background-color: $font-color;

      @media (min-width: 1366px) {
        position: absolute;
        left: 0;

        width: 23px;
      }
    }

    &::before {
      @media (min-width: 1366px) {
        top: 5px;
      }
    }

    &::after {
      margin-top: 10px;

      @media (min-width: 1366px) {
        bottom: 7px;
      }
    }
  }

  &--internal {
    padding: 16px 20px 20px 16px;

    @media (min-width: 768px) {
      position: static;

      padding: 30px 40px 35px 40px;

      &__menu-burger {
        margin-top: 10px;
      }
    }

    @media (min-width: 1366px) {
      position: absolute;

      padding: 30px 40px 35px 40px;

      img {
        width: 158px;
      }
    }

    @media (min-width: 1500px) {
      padding: 50px;
    }

    @media (min-width: 1920px) {
      padding: 87px 118px 35px 94px;
    }
  }

  &--active &__logo {
    margin: 0 auto;
  }

  &--active &__menu-burger {
    position: absolute;
    top: 25px;
    right: 30px;

    height: 25px;

    font-size: 0;

    @media (min-width: 768px) {
      top: 50px;
      right: 50px;
    }

    @media (min-width: 1366px) {
      right: 80px;
    }

    @media (min-width: 1920px) {
      top: 100px;
      right: 150px;
    }

    &::before,
    &::after {
      position: absolute;
      width: 23px;
    }

    &::before {
      top: 10px;

      transform: rotate(45deg);
    }

    &::after {
      top: 0;

      transform: rotate(-45deg);
    }
  }
}