html {
    background-color: $PW;
}

body {
    max-width: 1920px;
    margin: 0 auto;

    font-family: 'Forum', cursive;
    font-size: 10px;
    line-height: 15px;
    color: $PW;

    background-color: $PDR;
}

.mask-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 51px;
    padding: 83px 50px;

    background-image: url("../../images/flowers.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

    @media (min-width:768px) {
        margin-bottom: 95px;
        padding:284px 100px 55px 101px;

        background-image: url("../../images/flowers_ipad.jpg");
    }
    &__title {
        margin-bottom: 35px;

        font-family: 'Playfair Display', serif;
        font-weight: normal;
        font-size: 30px;
        line-height: 42px;
        color:$PW;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.09em;

        @media (min-width:768px) {
            margin-bottom: 82px;

            font-family: 'Forum', cursive;
            font-size: 70px;
            line-height: 77px;
        }
    }
    &__button {
        margin-bottom: 60px;
        padding: 19px 36px 18px 36px;

        font-size: 10px;
        line-height: 11px;
        text-transform: uppercase;
        color:$PW;
        text-decoration: none;
        letter-spacing: 0.15em;

        border:1px solid $PW;
        background: rgba(0, 0, 0, 0.4);

        @media (min-width:768px) {
            margin-bottom: 200px;
            padding: 22px 50px 19px 50px;

            font-size: 15px;
            line-height: 17px;
        }
    }
    &__social-list {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
        @media (min-width:768px) {
            margin-bottom: 34px;
            margin-left: 37px;    // Из-за флекса элементы встают левее, не придумал ничего лучше..
        }
        .mask-section__social-link {
            margin-right: 40px;

            list-style: none;

            @media (min-width:768px) {
                margin-right: 80px;
            }
        }
        .mask-section__social-link a {
            position: relative;

            display: block;
            width: 35px;
            height: 35px;

            background-color: $PDR;
            border-radius: 50%;

            @media (min-width:768px) {
                width: 55px;
                height: 55px;
            }
            & svg {
                position: absolute;
                top:25%;
                left:25%;

                @media (min-width:768px) {
                    width: 29px;
                    height: 29px;
                }
            }
            & .facebook-f {
                position: absolute;
                top:33%;
                left: 43%;
                @media (min-width:768px) {
                    width: 9px;
                    height: 20px;
                }
            }
        }
    }
    &__arrow-link svg {
        @media (min-width:768px) {
            width: 30px;
            height: auto;
        }
    }
}

.catalog-section {
    padding: 0 16px;
    margin-bottom: 95px;
    &__title {
        margin-bottom: 20px;

        font-size: 20px;
        line-height: 34px;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.06em;
    }
    &__slider {
        display: flex;
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 288px;
        min-height: 392px;
        max-width: 330px;
        max-height: 450px;
        padding: 23px 0 0 20px;
        margin-bottom: 15px;
        &__title hr {
            display: inline-block;
            width: 70px;
            margin-right: 8px;

            border:1px solid $PW;
        }
        &__title span {
            font-size: 20px;
            line-height: 22px;
            text-transform: uppercase;
        }
        &__text {
            font-size: 16px;
            line-height: 27px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            opacity: 0.9;
        }
        &:nth-of-type(1) {
            background: url("../../images/bouquet1.jpg") no-repeat;
            background-size: cover;
        }
        &:nth-of-type(2) {
            background: url("../../images/bouquet2.jpg") no-repeat;
            background-size: contain;
        }
        &:nth-of-type(3) {
            background: url("../../images/bouquet3.jpg") no-repeat;
            background-size: contain;
        }
        &:nth-of-type(4) {
            background: url("../../images/bouquet4.jpg") no-repeat;
            background-size: contain;
        }
    }
    &__controls {
        display: flex;
        max-width: 330px;
        hr {
            width: 62.61px;
            margin-right: 12.52px;

            border: 2px solid rgba(255, 255, 255, 0.3);
            &:last-of-type {
                margin-right: 0px;
            }
            &:hover {
                border-color: $PW;
            }
        }
    }
}

.promo {
  padding:0 16px;

  overflow: hidden;
  &__image {
    width: 100%;
    max-width: 453px;
    margin-bottom: 4px;
  }
  &__title {
    margin-bottom: 10px;

    font-size: 20px;
    line-height: 34px;
    font-weight: normal;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  & > hr {
    display: inline-block;
    width: 83px;

    font-size: 0px;

    border:1px solid $PW;
  }
  &__text {
    margin-bottom: 40px;

    font-size: 14px;
    line-height: 24px;
  }
  &__button {
    margin-bottom: 95px;
    padding: 20px 41px 18px 31px;

    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color:$PW;

    background-color: #010001;
    border: none;
  }
}
