html {
  background-color: $font-color;
}

body {
  margin: 0 auto;
  max-width: 1920px;

  font-family: 'Forum', cursive;
  font-size: 10px;
  line-height: 15px;
  color: $font-color;

  background-color: $page-color;
}

.mask-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 55px;
  padding: 83px 50px;

  background-image: url("../images/flowers.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-width: 768px) {
    margin-bottom: 98px;
    padding: 284px 100px 55px 101px;

    background-image: url("../images/flowers_ipad.jpg");
  }

  @media (min-width: 1366px) {
    position: relative;

    padding: 150px;

    background-image: url("../images/flowers_desktop.jpg");
    background-size: cover;
    
    &::after {
      content: "";
      position: absolute;
      bottom: 0px;

      width: 100%;
      height: 75px;

      background-image: linear-gradient(0deg, #3B181E 3.33%, rgba(59, 24, 30, 0) 100%);
    }
  }

  &__title {
    margin-bottom: 35px;

    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;
    color: $font-color;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.09em;

    @media (min-width: 768px) {
      margin-bottom: 82px;

      font-family: 'Forum', cursive;
      font-size: 70px;
      line-height: 77px;
    }

    @media (min-width: 1366px) {
      font-size: 90px;
      line-height: 102px;
    }
  }

  &__button {
    margin-bottom: 60px;
    padding: 19px 36px 18px 36px;

    font-size: 10px;
    line-height: 11px;
    text-transform: uppercase;
    color: $font-color;
    text-decoration: none;
    letter-spacing: 0.15em;

    border: 1px solid $font-color;
    background: rgba(0, 0, 0, 0.4);

    @media (min-width: 768px) {
      margin-bottom: 200px;
      padding: 22px 50px 19px 50px;

      font-size: 15px;
      line-height: 17px;
    }
  }

  &__social-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    padding: 0;

    @media (min-width: 768px) {
      margin-bottom: 34px;
    }

    @media (min-width: 1366px) {
      position: absolute;

      flex-direction: column;
      left: 50px;
      top: 500px;
    }

    .mask-section__social-link {
      margin: 0 20px;

      list-style: none;

      @media (min-width: 768px) {
        margin: 0 40px;
      }
    }

    .mask-section__social-link a {
      position: relative;

      display: block;
      width: 35px;
      height: 35px;

      background-color: $page-color;
      border-radius: 50%;

      @media (min-width: 768px) {
        width: 55px;
        height: 55px;
      }

      @media (min-width: 1366px) {
        background-color: transparent;
      }

      & svg {
        position: absolute;
        top: 25%;
        left: 25%;

        @media (min-width: 768px) {
          width: 29px;
          height: 29px;
        }
      }

      & .facebook-f {
        position: absolute;
        top: 33%;
        left: 43%;

        @media (min-width: 768px) {
          width: 9px;
          height: 20px;
        }
      }
    }
  }

  &__arrow-link {
    font-size: 0px;
    line-height: 0px;

    @media (min-width: 1366px) {
      position: absolute;
      right: 75px;
      top: 610px;

      font-size: 20px;
      letter-spacing: 0.06em;
      text-decoration: none;
      color: $font-color;

      transform: rotate(90deg);
    }

    @media (min-width: 1366px) {
      &::before {
        content: "";
        position: absolute;
        top: 500px;
        left: 230px;

        width: 40px;
        height: 56px;

        background: url("../images/mouse.svg") no-repeat;

        transform: rotate(270deg);
      }
    }
  }

  &__arrow-link svg {
    @media (min-width: 768px) {
      width: 30px;
      height: auto;
    }

    @media (min-width: 1366px) {
      position: absolute;
      bottom: -11px;
      left: 175px;

      width: 13.42px;

      transform: rotate(270deg);
    }
  }
}

.catalog-section {
  margin-bottom: 95px;
  padding: 0 17px 0 15px;

  @media (min-width: 768px) {
    padding: 0 40px;
  }

  &__title {
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 34px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.06em;

    @media (min-width: 390px) {
      margin: 0 auto 20px auto;
      text-align: center;
    }

    @media (min-width: 768px) {
      font-size: 30px;
      line-height: 33px;
    }
  }

  &>hr {
    display: none;

    @media (min-width: 768px) {
      position: relative;
      left: -13px;

      display: block;
      width: 83.5px;
      margin-bottom: 30px;

      border: 1px solid $font-color;
    }
  }

  &__slider {
    display: flex;
    justify-content: space-between;

    overflow: hidden;

    @media (min-width: 900px) {
      justify-content: center;
    }
  }

  &__controls {
    display: flex;
    max-width: 330px;

    @media (min-width: 390px) {
      margin: 0 auto;
    }

    @media (min-width: 768px) {
      width: 170px;

      hr:nth-of-type(3),
      hr:nth-of-type(4) {
        display: none;
      }
    }

    hr {
      margin-right: 12.52px;
      width: 62.61px;

      border: 2px solid rgba(255, 255, 255, 0.3);

      &:last-of-type {
        margin-right: 0;
      }

      &:hover {
        border-color: $font-color;
      }
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 23px 0 0 20px;
  min-width: 288px;
  min-height: 392px;
  max-width: 330px;

  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: 390px) {
    margin: 0 auto 15px auto;
  }

  @media (min-width: 768px) {
    margin: 0 28px 24px 0;
    padding-top: 42px;
    height: 450px;
  }

  @media (min-width: 900px) {
    margin: 0 80px 24px 0;
  }

  &__title {
    display: flex;
    align-items: center;
    width: 97px;

    @media (min-width: 768px) {
      flex-direction: row-reverse;
    }

    hr {
      width: 70px;
      margin-right: 8px;

      @media (min-width: 768px) {
        margin-right: 0;
        margin-left: 8px;
      }

      border:1px solid $font-color;
    }

    span {
      font-size: 20px;
      line-height: 22px;
      text-transform: uppercase;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    opacity: 0.9;
  }

  &:nth-of-type(1) {
    background-image: url("../images/bouquet1.jpg");
  }

  &:nth-of-type(2) {
    display: none;

    background-image: url("../images/bouquet2.jpg");

    @media (min-width: 768px) {
      display: flex;
      width: 100%;
      margin-right: 0;
    }
  }

  &:nth-of-type(3) {
    display: none;

    background-image: url("../images/bouquet3.jpg");
  }

  &:nth-of-type(4) {
    display: none;

    background-image: url("../images/bouquet4.jpg");
  }
}

.promo {
  display: flex;
  flex-direction: column;
  padding: 0 16px;

  overflow: hidden;

  @media (min-width: 390px) {
    align-items: center;
  }

  @media (min-width: 768px) {
    padding: 0 0 0 30px;
  }

  &__picture {
    margin-bottom: 8px;
    width: 288px;
    height: 170px;

    font-size: 0px;
    line-height: 0px;

    overflow: hidden;

    @media (min-width: 768px) {
      width: 453px;
      height: 323px;
    }

    @media (min-width:900px) {
      width: 697px;
      height: 410px;
    }
  }

  &__content {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width:390px) {
      max-width: 285px;
    }

    @media (min-width: 768px) {
      align-items: center;
      max-width: 485px;
    }
  }

  &__title {
    margin-bottom: 26px;
    width: 200px;

    font-size: 20px;
    line-height: 34px;
    font-weight: normal;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media (min-width: 768px) {
      margin-bottom: 37px;
      width: auto;

      font-size: 30px;
      line-height: 51px;
    }

    @media (min-width:900px) {
      font-size: 34px;
      line-height: 56px;
    }
  }

  &__content hr {
    position: absolute;
    top: 103px;

    width: 83px;

    font-size: 0px;

    @media (min-width: 768px) {
      width: 85.5px;
      top: 86px;
    }

    @media(min-width: 900px) {
      top: 100px;
    }
  }

  &__text {
    margin-bottom: 40px;

    font-size: 14px;
    line-height: 24px;

    @media (min-width: 768px) {
      margin-bottom: 15px;
      width: 453px;

      text-align: center;
    }

    @media (min-width: 900px) {
      font-size: 16px;
      line-height: 28px;
    }
  }

  &__button {
    margin-bottom: 95px;
    padding: 18px 40px 18.56px 31px;

    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: $font-color;

    background-color: #010001;
    border: none;

    @media (min-width: 768px) {
      margin-bottom: 90px;
    }
  }
}